html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;

	font: inherit;
	background: transparent;
	color: inherit;

	box-sizing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	vertical-align: inherit;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

ul {
	list-style: none;
}

body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	font-size: 16px;
	background: #aaaaaa;
}

#space-defender-main {
	padding: 25px;
	position: relative;
}

#player-1-controls {
	top: 50px;
	left: 25px;
	position: absolute;
	z-index: -1;
	/*border-radius: 10px;
	overflow: hidden;*/
}

#player-1-header {
	color: #063555;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#player-1-keys {
	float: left;
	width: 225px;
}

#player-1-keys > li {
	background: #063555;
	float: left;
	width: 75px;
	height: 75px;
	box-sizing: border-box;
	border: 1px solid #aaaaaa;
	color: #aaaaaa;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	border-radius: 10px;
}

#player-2-controls {
	top: 50px;
	right: 25px;
	position: absolute;
	z-index: -1;
	border-radius: 10px;
	overflow: hidden;
}

#player-2-header {
	color: #014413;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#player-2-keys {
	float: right;
	width: 225px;
}

#player-2-keys > li {
	background: #014413;
	float: left;
	width: 75px;
	height: 75px;
	box-sizing: border-box;
	border: 1px solid #aaaaaa;
	color: #aaaaaa;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	border-radius: 10px;
}

#key-8 div:nth-child(1n+2), #key-4 div:nth-child(1n+2), #key-5 div:nth-child(1n+2), #key-6 div:nth-child(1n+2) {
	line-height: 15px;
	font-size: 16px;
	margin-bottom: 5px;
}

#space-defender-game {
	position: relative;
	width: 640px;
	height: 720px;
	margin: auto;
}

#react-content-main {
	top: 70px;
	left:	70px;
	width: 500px;
	position: absolute;
}

#space-defenders-title {
	display: block;
	font-size: 36px;
	font-weight: bold;
	top: 35px;
	left: 145px;
	width: 350px;
	text-align: center;
	margin: auto;
	color: #d9d9d9;
	margin-bottom: 50px;
}

#start-game-button {
	display: block;
	color: #d9d9d9;
	background: #3079ed;
	font-weight: bold;
	margin: auto;
	width: 100px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5px;
}

#start-game-button:hover {
	cursor: pointer;
	background: #1643e0;
}

#select-players {
	width: 240px;
	margin: auto;
}

#one-player-button {
	display: block;
	float: left;
	color: #d9d9d9;
	background: #3079ed;
	font-weight: bold;
	width: 100px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5px;
}

#one-player-button:hover {
	cursor: pointer;
	background: #1643e0;
}

#two-player-button {
	display: block;
	float: right;
	color: #d9d9d9;
	background: #3079ed;
	font-weight: bold;
	width: 100px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5px;
}

#two-player-button:hover {
	cursor: pointer;
	background: #1643e0;
}

#game-over-title {
	display: block;
	font-size: 36px;
	font-weight: bold;
	top: 35px;
	left: 145px;
	width: 350px;
	text-align: center;
	margin: auto;
	color: #d9d9d9;
	margin-bottom: 50px;
}

#menu-button {
	display: block;
	color: #d9d9d9;
	background: #3079ed;
	font-weight: bold;
	margin: auto;
	width: 100px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5px;
}

#menu-button:hover {
	cursor: pointer;
	background: #1643e0;
}

#space-defender-canvas {
	display: block;
}

#space-defender-footer {
	display: block;
	background: #b6b6b6;
	padding: 10px;
	margin-top: 25px;
	border: 1px solid #3d3d3d;
	border-radius: 10px;
}

#space-defender-footer > a {
	color: #242b2e;
	float: right;
	font-weight: bold;
}

#space-defender-footer > a:hover{
	text-decoration: underline;
}

#space-defender-footer > a:nth-child(1){
	float: left;
}

#space-defender-footer > a:nth-child(2) {
	float: right;
}
